article p {
  margin-bottom: 1rem;
}

article ol > li > ul {
  margin-left: 2rem;
  list-style-position: inside;
  list-style-type: circle;
}

article aside,
article blockquote {
  background: #eaeaea;
  padding: 0.7rem;
  color: #1a1a1a;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

article blockquote > p {
  margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
