.teal {
  --tw-color-primary-50: 240 253 250;
  --tw-color-primary-100: 204 251 241;
  --tw-color-primary-200: 153 246 228;
  --tw-color-primary-300: 94 234 212;
  --tw-color-primary-400: 45 212 191;
  --tw-color-primary-500: 20 184 166;
  --tw-color-primary-600: 13 148 136;
  --tw-color-primary-700: 15 118 110;
  --tw-color-primary-800: 17 94 89;
  --tw-color-primary-900: 19 78 74;
  --tw-color-primary-950: 4 47 46;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0fdfa */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ccfbf1 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #99f6e4 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #5eead4 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #2dd4bf */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #14b8a6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0d9488 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0f766e */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #115e59 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #134e4a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #042f2e */
}

.cyan {
  --tw-color-primary-50: 236 254 255;
  --tw-color-primary-100: 207 250 254;
  --tw-color-primary-200: 165 243 252;
  --tw-color-primary-300: 103 232 249;
  --tw-color-primary-400: 34 211 238;
  --tw-color-primary-500: 6 182 212;
  --tw-color-primary-600: 8 145 178;
  --tw-color-primary-700: 14 116 144;
  --tw-color-primary-800: 21 94 117;
  --tw-color-primary-900: 22 78 99;
  --tw-color-primary-950: 8 51 68;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #ecfeff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #cffafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #a5f3fc */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #67e8f9 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #22d3ee */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #06b6d4 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0891b2 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0e7490 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #155e75 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #164e63 */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #083344 */
}

.sky {
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --tw-color-primary-950: 8 47 73;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #082f49 */
}

.blue {
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --tw-color-primary-950: 23 37 84;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #172554 */
}

.indigo {
  --tw-color-primary-50: 238 242 255;
  --tw-color-primary-100: 224 231 255;
  --tw-color-primary-200: 199 210 254;
  --tw-color-primary-300: 165 180 252;
  --tw-color-primary-400: 129 140 248;
  --tw-color-primary-500: 99 102 241;
  --tw-color-primary-600: 79 70 229;
  --tw-color-primary-700: 67 56 202;
  --tw-color-primary-800: 55 48 163;
  --tw-color-primary-900: 49 46 129;
  --tw-color-primary-950: 30 27 75;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eef2ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0e7ff */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #c7d2fe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #a5b4fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #818cf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #6366f1 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #4f46e5 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4338ca */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #3730a3 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #312e81 */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #1e1b4b */
}
