:root {
  --primary-color-light: rgb(42, 42, 116);
  --secondary-color-light: rgb(135, 208, 248);
  --primary-color-dark: rgb(74, 76, 204);
  --secondary-color-dark: rgb(95, 209, 249);
}

.avatar-light {
  background: linear-gradient(
    175deg,
    var(--primary-color-light) 11.2%,
    var(--secondary-color-light) 100.2%
  );
}

.avatar-dark {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    var(--primary-color-dark) 0%,
    var(--secondary-color-dark) 100.2%
  );
}

.photo-description {
  font-family: 'Roboto', sans-serif;
}

.greeting {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  background-clip: text;
  color: transparent;
}
